# Basic Data Stucture

**Data Types and Structures Questions**

1. What are data structures, and why are they important?

 * Data structures are ways to organize and store data in a computer so it can be used efficiently.

* They are important because they help:

* Access and modify data quickly

* Save memory and processing time

* Solve problems effectively using the right tools (e.g., arrays, lists, trees, graphs)



2. Explain the difference between mutable and immutable data types with
   examples?

    1. Mutable Data Types:

     * These can be changed after they are created.

     * You can modify, add, or remove elements without changing the object's identity.

     Examples: list, dict, set, bytearray

    Example:
        
        my_list = [1, 2, 3]

         my_list.append(4)

        print(my_list)  
        # Output: [1, 2, 3, 4]

   2. Immutable Data Types:

     * These cannot be changed after they are created.

      * Any modification creates a new object.

 Examples: int, float, str, tuple, bool, frozenset

 Example:

my_str = "hello

my_str += " world"

print(my_str)  
# Output: "hello world"


3. What are the main differences between lists and tuples in Python?

   
  *  List:-
   
   * Lists are mutable(can be modified).

   * Iteration over lists is time-consuming.

   * Lists are better for performing operations, such as insertion and deletion.

   * Lists consume more memory.

   * Lists have several built-in methods.


  * tuples:-

    * Tuples are immutable(cannot be modified).

    * Iterations over tuple is faster

    * Tuples are more suitable for accessing elements efficiently.

    * Tuples consumes less memory

    * Tuples have fewer built-in methods.

4.  Describe how dictionaries store data?

    * Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can't be repeated and must be immutable.

    * Example: Here, The data is stored in key:value pairs in dictionaries, which makes it easier to find values.

    d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
    print(d)

    Output
    {1: 'Geeks', 2: 'For', 3: 'Geeks'}
    

5. Why might you use a set instead of a list in Python?

  * Sets are useful because they automatically eliminate duplicate values, making them ideal for quickly removing duplicates from lists or tuples. They also support efficient mathematical operations like unions, intersections, and differences, which are helpful when comparing or combining data.

6. What is a string in Python, and how is it different from a list?

  * A string in Python is a sequence of characters enclosed in quotes:

      text = "Hello, world!"
      It's used to store and manipulate textual data.


  * How is it Different from a List?

  * String:-

    Sequence of characters
    
    No (immutable)

    Quoted ("text" or 'text')

    "Hello"[1] → 'e'

  * List:-

     Sequence of any data types

     Yes (mutable)

     Square brackets ([1, 2, 3])

     [10, 20, 30][1] → 20

7.  How do tuples ensure data integrity in Python?
                                  

   | Feature             | How It Helps Data Integrity        |
| ------------------- | ---------------------------------- |
| **Immutable**       | Prevents accidental modification   |
| **Hashable**        | Can be safely used as dict keys    |
| **Fixed structure** | Great for storing constant records |
| **Safe sharing**    | Can be passed around without worry |


8. What is a hash table, and how does it relate to dictionaries in Python?

  * A hash table is a data structure that stores key-value pairs and allows for fast data access using a process called hashing.

  -> How It Relates to Python Dictionaries
  * A Python dictionary is a built-in implementation of a hash table.

  # Example dictionary
    student = {"name": "Alice", "age": 20}
    
     "name" and "age" are keys

    "Alice" and 20 are values

    Python internally uses a hash table to map each key to its value.

9. Can lists contain different data types in Python?

   * Yes, Lists Can Contain Different Data Types in Python.
   * Python lists are flexible and can store elements of different data types in the same list.

   Example:-

   mixed_list = [42, "hello", 3.14, True, [1, 2], {"key": "value"}]


   This list contains:

   * An integer (42)
  
   * A string ("hello")

   * A float (3.14)

   * A boolean (True)

   * Another list ([1, 2])

   * A dictionary ({"key": "value"})

10. Explain why strings are immutable in Python?
  
    * Strings in Python are "immutable" which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.

   * The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.


11. What advantages do dictionaries offer over lists for certain tasks?

    * Dictionaries offer several key advantages over lists for certain tasks, particularly when it comes to data organization and performance. Here are the main benefits:

    1. Faster Lookup Time:-

    * Dictionaries provide constant-time (O(1)) lookup for keys using hashing.

    *  Lists require linear-time (O(n)) search since you may have to check each element until you find the one you need.

    * Use Case: When you need to look up values by a specific identifier (like a username or ID), a dictionary is much faster.

   2. Key-Value Pair Structure:-

    *  Dictionaries store data in key-value pairs, making it easy to associate related information.

    * Lists only store values without inherent labels.

    * Use Case: Managing attributes of an object (e.g., a student’s name, age, and grade).

    3. Avoiding Duplicate Keys:-

    * Dictionaries automatically prevent duplicate keys.

    * Lists can have duplicate values, which can complicate certain operations (e.g., ensuring uniqueness).

    4. Dynamic and Flexible Data Representation:-

    * Dictionaries can grow dynamically and store nested or complex structures (e.g., dictionaries inside dictionaries).

    * This makes them excellent for JSON-like data or configurations.

12.  Describe a scenario where using a tuple would be preferable over a     
     list?

     * A tuple is preferable over a list in scenarios where immutability, performance, or use as a dictionary key is important. Here's a clear example:

     * Scenario: Storing Coordinates in a Mapping Application:-

     Imagine you're developing a mapping application that stores GPS coordinates of various landmarks.

     coordinates = (37.7749, -122.4194)  # Latitude and Longitude of San Francisco    


  * Why a tuple is preferable:
       Immutability:

       Coordinates shouldn't change after they're created. Tuples are immutable, which ensures that accidental modification is prevented.

       Lists, being mutable, could be unintentionally altered, leading to bugs.

       Performance:

       Tuples are slightly more memory-efficient and faster to access than lists, especially when used in large numbers.

       This is helpful if you're dealing with a massive dataset of coordinates.

      Hashability:

      Tuples can be used as dictionary keys or elements in sets, while lists cannot (because lists are not hashable).

      This is useful if you want to map coordinates to place names:

     location_map = {
     (37.7749, -122.4194): "San Francisco",
     (40.7128, -74.0060): "New York"
}

13. How do sets handle duplicate values in Python?

    * In Python, sets automatically eliminate duplicate values. When you add items to a set, any duplicates are ignored, and only unique values are stored.

   * Example:-
   my_set = {1, 2, 2, 3, 4, 4, 4, 5}
   print(my_set)

   #output:-  

   {1, 2, 3, 4, 5}
   * Even though 2 and 4 appeared multiple times in the original declaration, the set keeps only one occurrence of each.

   * Key Features of Sets:-

     No duplicates allowed.

     Unordered (elements may appear in any order).

     Mutable (you can add/remove elements).

     Elements must be hashable (so no lists or other sets inside).

 14.  How does the “in” keyword work differently for lists and dictionaries?

      * The in keyword is used to check membership, but it works differently for lists and dictionaries in Python.

* For Lists: Checks for values

    fruits = ['apple', 'banana', 'cherry']
    print('apple' in fruits)    # True — 'apple' is in the list
    print('grape' in fruits)    #  False — 'grape' is not in the list

    It checks whether an element (value) exists in the list.

    Linear search: Time complexity is O(n) (slower with large lists).

* For Dictionaries: Checks for keys

   person = {'name': 'Alice', 'age': 30}
   print('name' in person)     # True — 'name' is a key
   print('Alice' in person)    #  False — 'Alice' is a value, not a key

   It checks whether a key exists in the dictionary.

   Hash-based lookup: Time complexity is O(1) (much faster than lists).   

15. Can you modify the elements of a tuple? Explain why or why not

  * No, you cannot modify the elements of a tuple in Python. Tuples are immutable, meaning once a tuple is created, its contents cannot be changed—no adding, removing, or altering individual elements.

16. What is a nested dictionary, and give an example of its use case3

   * In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary.

   * Use Case: Student Records Management System
     Scenario:

     You're building a system to manage student information. Each student has:

     * A unique ID

     * Personal details (name, age)

     * A set of subject grades

       Why use a nested dictionary?
      * Group related data under one key (the student ID)

      * Easily access and update nested information

      * Scalable structure as more attributes or nested levels are needed

Example usage:
# Get Alice's math grade
print(students["1001"]["grades"]["math"])  # Output: 90

# Add a new grade for Bob
students["1002"]["grades"]["science"] = 91

17. Describe the time complexity of accessing elements in a dictionary?

    * The time complexity of accessing elements in a Python dictionary is typically O(1) — constant time.

    * Why O(1)?

    *  Dictionaries use a hash table internally.

    * When you access a value using a key (e.g., my_dict['key']), Python:

    1. Computes the hash of the key.

    2. Jumps directly to the location where the value is stored.

     This process doesn't depend on the number of items in the dictionary.

18. In what situations are lists preferred over dictionaries?

    * Lists are preferred over dictionaries in situations where:

    1. Order Matters

      * Lists maintain the insertion order of elements (since Python 3.6+).

      * If you care about the sequence or need to access items by position (index), use a list.   

      # Example

      tasks = ['email', 'meeting', 'lunch']

    2. Indexed Access is Needed

      * Lists allow fast access to items by position (list[index]).

      * Use lists when you need to loop through or manipulate items by their index.  

      # Example:

      print(data[2])  # third item

    3. Data Doesn’t Need a Key

       * If the data is just a simple sequence of values without labels, a list is more natural and concise.

       # Example:

       temperatures = [72, 68, 75, 70]

 4. Ordering and Sorting

       * Lists are great when you need to sort or reverse a collection of items.

       # Example:

       scores = [85, 92, 78]
       scores.sort()

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

* Dictionaries were historically unordered due to hash-based storage.

* From Python 3.7+, they preserve insertion order — but their primary design still revolves around key-based access, not order.

* If ordering is essential, consider using:

* OrderedDict (for older Python versions)

* A list of tuples or custom data structures


20. Explain the difference between a list and a dictionary in terms of data retrieval.

| Feature                | List                       | Dictionary                                                  |
| ---------------------- | -------------------------- | ----------------------------------------------------------- |
| Retrieval method       | By **index** (position)    | By **key**                                                  |
| Order                  | Maintains order            | Order preserved (Python 3.7+), but irrelevant for retrieval |
| Lookup efficiency      | Fast if index known (O(1)) | Fast key-based lookup (O(1))                                |
| Use case for retrieval | When position matters      | When you need associative lookup by keys                    |

**Practical** **Question**

1. Write a code to create a string with your name and print it?

In [ ]:
# Create a string with the name
name = "Rahul Kumar"

# Print the string
print("My name is", name)

My name is Rahul Kumar

2.Write a code to find the length of the string "Hello World".

In [ ]:
# Define the string
text = "Hello World"

# Find the length of the string
length = len(text)

# Print the length
print("The length of the string is:", length)

The length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
first_three = text[:3]

# Print the result
print("The first 3 characters are:", first_three)

The first 3 characters are: Pyt

4. Write a code to convert the string "hello" to uppercase

In [ ]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
# Define the string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
# Define the list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("The second element is:", second_element)

The second element is: b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
# Create a tuple with the elements
my_tuple = (100, 200, 300)

# Print the tuple
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_to_last = colors[-2]

# Print the element
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
minimum = min(numbers)

# Print the minimum number
print("Minimum number in the tuple:", minimum)

Minimum number in the tuple: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index_cat = animals.index('cat')

# Print the index
print('Index of "cat":', index_cat)

Index of "cat": 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Create a tuple with three fruits
fruits = ('apple', 'banana', 'orange')

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is NOT in the tuple.")

Kiwi is NOT in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Create a set with elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print("Set:", my_set)

Set: {'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
# Define the set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the emptied set
print("Set after clearing:", my_set)

Set after clearing: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
# Define the set
my_set = {1, 2, 3, 4}

# Remove element 4
my_set.remove(4)

# Print the updated set
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the union
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

# Print the intersection
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
# Create the dictionary
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
# Original dictionary
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value for the key "name"
name_value = person['name']

# Print the value
print(name_value)

Alice

In [ ]:
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value for the key "name"
name_value = person['name']

# Print the value
print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print("Dictionary after removing 'age':", person)

Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does NOT exist in the dictionary.")

Key 'city' exists in the dictionary.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Create a list
my_list = [1, 2, 3]

# Create a tuple
my_tuple = ('a', 'b', 'c')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 25}

# Print all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [2, 15, 24, 24, 84]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Create a list with strings
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Access and print the element at the third index
print("Element at index 3:", fruits[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries (Python 3.9+)
combined_dict = dict1 | dict2

# Print the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
# Define a list of strings
string_list = ['apple', 'banana', 'apple', 'cherry', 'banana']

# Convert the list to a set to remove duplicates
string_set = set(string_list)

# Print the set
print("Set:", string_set)

Set: {'apple', 'cherry', 'banana'}